.content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 50%;
  height: 600px;
  // background-color: red;s
  padding: 30px;
}

.post-table {
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  th,
  td {
    border-radius: calc(0.25rem - 1px);
    padding: 10px 0;
  }
  th {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
  }
  td {
    background-color: rgba(0, 0, 0, 0.07);
    padding-left: 7px;
  }
}

.right-content {
  width: 50%;
  height: 800px;
  background-color: blue;
}
